<header>
    {{page.header}}
  {% if page.nav_branding or page.nav_main or page.nav_additional %}  
    <nav class="{{ nav_classes }}">
        <div class="container-fluid m-0 p-0 row mx-auto">
            <div class="col-auto p-0">
            {{ page.nav_branding }}  
            </div>
            <div class="col-1 col-md-auto p-0">
            </div>
            <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="navbarSupportedContent">
                {{ page.nav_main }}         
            </div>
        </div>
    </nav>
    {% endif %}
</header>